/*INGRESA TIPOGRAFIA*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bokor&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

#simulator{
    width: 100%;
    max-width: 1300px;
    padding: 50px 60px;
    border: 1px solid #a9b8d4;
    margin: 100px auto;
    box-shadow: 0 0 3em #d1d9e6
}
h1{
    font-size: 34px;
    font-weight: 700;
    color: #2b547e;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 2px solid #06213a;
}

.cont-flex{
    width: 100%;
    display: flex;
}

.left,
.right{
    width: 50%;
    padding: 40px 20px;
}

h2{
    color: #333d4b;;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 14px;
}

.left p{
    margin-bottom: 30px;
    color: #5e6977;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group-data.two-columns{
    width: 50%;
    box-sizing: border-box;
}
.group-data.one-column{
    width: 100%;
}

.group-data.three-columns{
    width: 60%;
}

.group-data.four-columns{
    width: 40%;
}

.group-data{
    padding-right: 16px;
}
.group-data label{ 
    display: block;
    margin-bottom: 10px;
    color: #2b547e;
}
.group-data input,
.group-data select{
    display: block;
    margin-bottom: 30px;
    width: 100%;
} 

.form button{
    display: block;
    width: 97%;
    padding: 14px 80px;
    background: #2b547e;
    color: #fff;
    border: 1px solid #1c9882;
    transition: .4s;
    cursor: pointer;
}

.form button:hover{
    background: #f7c548;
    border: 1px solid #f7c548;
    color: #333d4b;
}
input, select{
    padding: 14px 30px;
    background: #eaf0f6;
    border: 0;
    border-bottom: 2px solid #a9b8d4;
    outline: none;
}
input::placeholder {
    color: #5e6977;
}

.right .pre-simulation{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img{
    max-width: 80%;
}

.right .post-simulation {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 0 60px;
}

.post-simulation.disabled,
.pre-simulation.disabled {
    display: none;
}

.right .post-simulation h3{
    color: #2b547e;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 40px;
}

.right .post-simulation h3 span{
    color: #f7c548;
    font-weight: 600;
    font-size: 24px;
}

.right .total{
    background: #f7c5484d;
    padding: 30px;
}

.right .total h4{
    font-size: 28px;
}

.right .total h2{
    font-size: 36px;
    padding: 14px 0;
}

.total p{
    font-weight: 400;
}

.total p span{
    font-weight: 600;
}

.notificacion{
    padding: 20px;
    border: 1px solid #f7c548;
    margin-top: 40px;
}

.notificacion h5{
    font-weight: 400;
}

.notificacion h5 span{
    font-weight: 700;
}